* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}


.color-white {
  color: white;
}

.color-black {
  color: black !important;
}

.z-index-to-the-moon {
  z-index: 999999;
}

/* start header */
.dark .dropdown-item:hover,
.dropdown-item:focus {
  opacity: 1;
  color: #eee;
  text-decoration: none;
  background-color: transparent;
}

.dropdown-item:hover,
.dropdown-item:focus {
  opacity: 1;
  color: #3f3a64;
  text-decoration: none;
  background-color: transparent;
}

header {
  position: fixed;
  width: 100%;
  z-index: 1;
  transition: 0.2s;
  border-bottom: 1px solid rgba(231, 231, 231, 0.18);
}

/* 
header:before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(231, 231, 231, 0.18);
    z-index: 999;
} */

.navbar-light .navbar-nav .nav-link {
  transition: 0.5s;
  color: #fff;
  opacity: 0.8;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
  opacity: 1;
}

.navbar-light .navbar-nav .active>.nav-link {
  color: #fff;
  opacity: 1;
}

/* .header-list {

} */

.my-header {
  height: 100px;
  transition: 0.5s;
  display: grid;
  align-items: center;
  padding-top: 8px;
}

.header-list-scroll {
  height: 20px;
}

.header-list-scroll .header-list nav {
  background-color: transparent;
}

.navbar-collapse {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}

.navbar h1 {
  flex-grow: 1;
}

.navbar-brand {
  font-size: 30px;
  font-weight: 600;
  color: white;
}

.navbar-brand span:nth-child(3) {
  color: #fff;
}

.small-text {
  font-size: 14px;
  display: block;
  padding-left: 46px;
  font-weight: 600;
  opacity: 0.9;
}

.navbar-brand>span:nth-child(1) {
  vertical-align: bottom;
  color: #009f4d;
}

.nav-item {
  text-transform: uppercase;
  font-weight: 600;
}

.dropdown-item {
  font-weight: 600;
  line-height: 25px;
  color: #3f3a64;
  opacity: 0.7;
  transition: 0.5s;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  transform: translateX(-50px);
  border-radius: 8px;
  border: 1px #eee solid;

  top: 100%;
  padding: 15px 0;
}

.dark .dropdown-menu::before {
  background-color: #151420;
  border: 1px rgba(255, 255, 255, 0.1) solid;
  border-right: none;
  border-bottom: none;
}

.dropdown-menu::before {
  position: absolute;
  content: "";
  top: -7px;
  left: 48%;
  width: 14px;
  height: 14px;
  background-color: #fff;
  border: 1px #eee solid;

  border-right: 0;
  border-bottom: 0;
  transform: rotateZ(45deg);
}

.header-search {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #009f51;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.header-display {
  font-size: 25px;
}

.navbar-toggler {
  position: relative;
}

.navbar-toggler-icon i {
  font-size: 20px;
  font-weight: bold;
}

[aria-expanded="true"] .fa-bars,
[aria-expanded="false"] .fa-times {
  display: none;
}

.navbar-toggler {
  padding: 0px;
  line-height: none;
}

.fa-bars {
  vertical-align: sub;
}

.fa-times {
  vertical-align: sub;
}

.navbar {
  transition: 0.2s;
}

.transparent-header {
  background: transparent;
}

.light-header {
  background: #fff !important;
}

.dark-header {
  background: black;
}

/* Light theme */

#switchButton {
  background-color: transparent;
  font-size: 25px;
  line-height: -6px;
  vertical-align: baseline;
}

#switchButton .fa-sun {
  display: none;
}

#switchButton .fa-moon {
  display: block;
  color: #eee;
}

/* .navbar-toggler {
    margin-top: 6px;
} */

.about-us a {
  transition: 2s;
}

/* Dark Theme*/

.dark .path-item {
  fill: #151421;
}

.dark .over-lay {
  background: rgba(29, 42, 55, 0.8);
}

.dark .about-us {
  background-color: #151421;
}

.dark #switchButton {
  background-color: transparent;
}

.dark .dropdown-menu {
  background-color: #151421 !important;
  border: 1px rgba(255, 255, 255, 0.1) solid !important;
}

.dark .dropdown-item {
  color: #eee;
}

.dark .slick-arrow {
  background-color: #151421;
  border: 1px #383742 solid;
}

.dark .slick-prev::before {
  color: #fff;
}

.dark .about-us-title-content {
  color: #fff;
}

.dark .about-us a {
  color: #fff;
}

.dark .challenges {
  background-color: #100f19;
}

.dark .challenges-title-big {
  color: #fff;
}

.dark .item-content p a {
  color: #fff;
}

.dark .item-container {
  background-color: #151421;
}

.dark .slick-next::before {
  color: #fff;
}

.dark #switchButton .fa-sun {
  display: block;
  color: white;
}

.dark #switchButton .fa-moon {
  display: none;
}

.dark .card {
  background-color: #151421;
  color: #fff;
}

.dark .title--big {
  color: #fff;
}

.dark .services {
  background-color: #151421;
}

.dark .services__item .card .card-body .btn {
  color: #fff;
}

.dark .gallery {
  background-color: #100f19;
}

.dark .brand-logos {
  border-top: 0.5px solid rgba(222, 226, 230, 0.5);
}

.dark .progression {
  background-color: #151421;
}

.dark .progress__title {
  color: #fff;
}

.dark .card .card-title {
  background-color: #151421 !important;
  color: #fff !important;
  border: 0.5px solid rgba(255, 255, 255, 0.227) !important;
}

.dark .card:hover .card-title {
  color: #009f4d !important;
}

/* end header */

/* start carousel */

.banner-slider {
  height: 100%;
}

.my-slide img {
  width: 100%;
}

.slick-arrow {
  transition: 0.4s;
}

.slick-prev::before {
  color: #3f3a64;
  transition: 0.2s;
}

.slick-next::before {
  color: #3f3a64;
  transition: 0.2s;
}

.my-slide {
  height: 100%;
}

.slick-arrow {
  position: absolute;
  width: 50px;
  height: 50px;
  color: black;
  top: 90%;
  font-size: 0 !important;
  background-color: white;
  right: 20%;
  font-size: 50px;
  z-index: 12;
  box-shadow: 0 0 15px rgb(0 0 0 / 12%);
  border: 1px solid transparent;
  border-radius: 50%;
}

.slick-prev {
  right: 95px;
  left: unset;
}

.slick-prev:before {
  color: black;
}

.slick-next {
  right: 25px;
}

.slick-next:before {
  color: black;
}

.slide--content {
  position: absolute;
  top: 25%;
}

.slide--content>p:nth-child(2) {
  font-size: 20px;
  line-height: 30px;
  max-width: 600px;
  color: #fff;
  letter-spacing: 0.01em;
  opacity: 0.9;
  margin: 0;
}

.slide-1 p:nth-child(1) {
  top: 0;
  left: 0;
}

.carousel {
  height: auto;
  position: relative;
}

.shape {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.shape path {
  fill: white;
}

.slide-item {
  position: relative;
  min-height: 800px;
}

.over-lay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(29, 42, 55, 0.7);
  z-index: -1;
}

.slide-1 {
  background-image: url(./imgs/b1.jpg);
  background-size: cover;
  width: 100%;
  display: inline-block;
}

.slide-2 {
  background-image: url(./imgs/b2.jpg);
  background-size: cover;
  width: 100%;
  display: inline-block;
}

.slide-3 {
  background-image: url(./imgs/b3.jpg);
  background-size: cover;
  width: 100%;
  display: inline-block;
}

.slide-4 {
  background-image: url(./imgs/b4.jpg);
  background-size: cover;
  width: 100%;
  display: inline-block;
}

.slide--content>p:nth-child(1) {
  font-size: 65px;
  line-height: 1.1;
  margin-bottom: 18px;
  color: rgb(255, 255, 255);
  max-width: 800px;
  font-weight: 600;
}

/* end carousel */

/* start about-us */
.about-us ul {
  list-style-type: none;
}

.about-us ul a {
  color: #3f3a64;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  text-decoration: none;
}

.about-us ul a span {
  color: #33b273;
  margin-right: 5px;
}

.about-us-title-name {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: 1px;
  color: #7e7d7d;
  margin: 0;
}

.about-us-title-content {
  font-size: 35px;
  line-height: 45px;
  font-weight: 700;
  color: #3f3a64;
}

.about-us-text {
  color: #7e7d7d;
}

.about-us .right-content .right-imgs {
  max-width: 50%;
}

.left-img img {
  max-width: 100%;
}

.right-imgs img {
  max-width: 100%;
}

.rounded-8px {
  border-radius: 8px;
}

/* end about-us */

/* start challenges */
.challenges-title-small {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: 1px;
  color: #7e7d7d;
  display: block;
  margin: 0;
}

.challenges-title-big {
  font-size: 34px;
  line-height: 45px;
  font-weight: 700;
  color: #3f3a64;
}

.challenges button {
  transition: 0.5s;
}

.challenges button a {
  text-decoration: none;
}

.challenges button a:hover {
  color: white !important;
}

.challenges-title-content {
  color: #7e7d7d;
}

.btn-style {
  padding: 15px 50px;
  text-transform: capitalize;
  font-weight: 600;
  background-color: #00a63f;
  transition: 0.5s;
}

.btn-style:hover {
  background-color: #008030;
}

.slide--content button {
  margin-top: 30px;
}

.item-content p {
  margin: 0;
}

.item-content p a {
  font-size: 22px;
  line-height: 28px;
  font-weight: 600;
  margin-top: 25px;
  display: block;
  color: #3f3a64;
  text-decoration: none;
  transition: 0.5s;
}

.item-content p a:hover {
  color: #009f4d;
}

.item-container {
  padding: 40px 30px;
  background-color: white;
  border-radius: 8px;
  box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
  transition: 0.5s;
}

.item-container:hover {
  box-shadow: rgb(46 41 51 / 8%) 0px 2px 4px, rgb(71 63 79 / 16%) 0px 5px 10px;
  transform: translateY(-0.25rem);
}

.item-container .item-content img {
  max-width: 65px;
}

.challenges {
  background-color: #f7f7f7;
}

.grid-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.grid-list>div {
  box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
}

.color-web {
  color: #3f3a64;
}

.header-background-white {
  background-color: #fff;
}

.header-background-dark {
  background-color: #151421;
}

/* end challenges */
@media screen and (min-width: 1200px) {
  .header-background-transparent {
    background: transparent;
  }
}

@media screen and (max-width: 1200px) {
  #header {
    height: auto;
  }

  .slide--content>p:nth-child(1) {
    font-size: 55px;
  }

  .header-background-transparent {
    background: transparent;
  }
}

@media screen and (max-width: 1080px) {
  .about-us-title-content {
    font-size: 32px !important;
    line-height: 40px;
  }
}

@media screen and (max-width: 991px) {
  .header-background-transparent {
    background: transparent;
  }

  .set-height {
    padding: 20px 0 !important;
  }

  #header {
    height: auto;
    padding: 30px 0;
  }

  .header-search {
    top: 0;
    right: 0;
  }

  .header-click-color {
    background-color: rgba(0, 0, 0, 0.7);
  }

  .dropdown {
    padding: 0 15px;
  }


  .slide-item {
    min-height: 700px;
  }

  .dropdown-menu {
    transform: translateX(0px) !important;
    width: 100%;
    text-align: center;
  }

  .navbar-collapse {
    width: 200%;
    max-height: calc(100vh - 80px);
    overflow-y: scroll;
  }

  .navbar-light .navbar-toggler {
    background-color: #009f4d;
    color: white;
  }

  .navbar-light .navbar-toggler-icon {
    background-image: unset;
  }

  .header-custom {
    position: absolute;
    top: 15px;
    right: 44px;
  }

  .navbar-nav {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .navbar-nav li {
    display: inline;
    width: 100%;
    text-align: center;
    line-height: 25px;
  }

  .dropdown>a:after {
    position: absolute;
    content: "";
    right: 5px;
    top: 20px;
  }

  .slide--content>p:nth-child(1) {
    font-size: 50px;
  }
}

@media screen and (max-width: 768px) {
  .header-click-color {
    background-color: rgba(0, 0, 0, 0.7);
  }

  .set-height {
    padding: 20px 0 !important;
  }

  #header {
    height: auto;
    padding: 30px 0;
  }

  .item-container {
    padding: 1.5em;
  }

  .dropdown {
    padding: 0 15px;
  }

  .header-background-white {
    background-color: #fff;
  }

  .header-background-dark {
    background-color: #151421;
  }

  #header.black {
    background-color: rgba(0, 0, 0, 0.7);
  }

  .slide--content>p:nth-child(1) {
    font-size: 45px;
  }

  .slide--content>p:nth-child(2) {
    font-size: 18px;
    line-height: 28px;
  }

  .slide-item {
    min-height: 650px;
  }
}

@media screen and (max-width: 667px) {
  .item-content p a {
    font-size: 18px;
  }
}

@media screen and (max-width: 576px) {
  .dropdown {
    padding: 0 15px;
  }

  .set-height {
    padding: 20px 0 !important;
  }

  #header {
    height: auto;
    padding: 30px 0;
  }

  .header-click-color {
    background-color: rgba(0, 0, 0, 0.7);
  }

  .header-background-white {
    background-color: #fff;
  }

  .header-background-dark {
    background-color: #151421;
  }

  #header.black {
    background-color: rgba(0, 0, 0, 0.7);
  }

  .slide--content>p:nth-child(1) {
    font-size: 40px;
  }

  .slide-item {
    min-height: 600px;
  }
}

@media screen and (max-width: 480px) {
  .dropdown {
    padding: 0 15px;
  }

  .set-height {
    padding: 20px 0 !important;
  }

  #header {
    height: auto;
    padding: 30px 0;
  }

  .header-click-color {
    background-color: rgba(0, 0, 0, 0.7);
  }

  .header-background-white {
    background-color: #fff;
  }

  .header-background-dark {
    background-color: #151421;
  }

  #header.black {
    background-color: rgba(0, 0, 0, 0.7);
  }

  .slide--content>p:nth-child(1) {
    font-size: 36px;
  }

  .slide-item {
    min-height: 550px;
  }
}

@media screen and (max-width: 415px) {
  .about-us-title-content {
    font-size: 26px !important;
    line-height: 32px;
  }

  .challenges-title-big {
    font-size: 26px !important;
    line-height: 32px;
  }
}

/* button up to top */
#myBtn {
  display: none;
  /* Mặc định button sẽ được ẩn*/
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  /* button được ưu tiên hiển thị đè lên các phần khác*/
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  outline: none;
  background-color: #009f51;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  border: none;
}

/* class in JS */
.set-height {
  height: 80px;
  background-color: #fff;
  /* padding: 0; */


}


.dark .set-height {
  background-color: #151421;
}

.first-nav-item-color {
  color: #009f4d !important;
  opacity: 0.9 !important;
}

.nav-item-color {
  color: #3f3a64 !important;
  opacity: 0.7 !important;
}

.dark .nav-item-color {
  color: #eee !important;
}

.color-web {
  color: #3f3a64 !important;
}

.dark .color-web {
  color: #eee !important;
}

/*  hết phần của tui rồi nghen */

a,
a:hover {
  text-decoration: none;
}

/* TITLE */
.title--big {
  color: #3f3a64;
  font-size: 35px;
  line-height: 45px;
  font-weight: 600;
  text-transform: capitalize;
}

/* RESPONSIVE TITLE */
@media screen and (max-width: 1080px) {
  .title--big {
    font-size: 32px !important;
    line-height: 40px;
  }
}

@media screen and (max-width: 568px) {
  .title--big {
    font-size: 30px !important;
    line-height: 38px;
  }
}

@media screen and (max-width: 415px) {
  .title--big {
    font-size: 26px !important;
    line-height: 32px;
  }
}

.title--small {
  color: #7e7d7d;
  font-size: 14px;
  line-height: 30px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: block;
}

/* OVERLAY */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  z-index: 1;
  overflow: hidden;
  outline: none;
  visibility: hidden;
  opacity: 0;
}

/* SERVICES */
.services {
  background-color: white;
}

.services__item .card img {
  object-fit: cover;
}

.services__item .card .card-title {
  display: inline-block;
  font-size: 19px;
  line-height: 28px;
  font-weight: 600;
  color: #3f3a64;
  background-color: white;
  padding: 12px 35px;
  border: solid 1px transparent;
  border-radius: 10px;
  transform: translate(0, -50px);
  box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
  cursor: pointer;
  transition: all 0.5s;
}

.services__item .card .card-text {
  margin-top: -40px;
  font-size: 17px;
  line-height: 27px;
  color: #666;
  opacity: 0.8;
}

.services__item .card .card-body .btn {
  font-weight: 600;
  color: #3f3a64;
  line-height: 28px;
  letter-spacing: 0.8px;
  transition: all 0.5s;
}

.services__item:hover .card .card-title {
  color: #00a63f;
}

.services__item .card .card-body .btn:hover {
  color: #00a63f;
}

/* GALLERY */
.gallery {
  background-color: var(--light);
}

.gallery__item .zoom-layer {
  display: inline-block;
  overflow: hidden;
  position: relative;
}

.gallery__item img {
  max-width: 100%;
  height: 100%;
  object-fit: fill;
  transition: 0.3s ease-in-out;
}

.gallery__item .overlay {
  background: rgba(29, 42, 55, 0.7);
}

.overlay__content {
  position: absolute;
  bottom: -100%;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
  padding: 46px 50px;
}

.overlay__content .title {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  display: block;
  margin-bottom: 10px;
}

.overlay__content .content {
  font-size: 18px;
  color: #eee;
  display: block;
}

.gallery__item:hover .overlay {
  visibility: visible;
  opacity: 1;
}

.gallery__item:hover .overlay__content {
  bottom: 0;
  visibility: visible;
  opacity: 1;
}

.gallery__item:hover img {
  overflow: hidden;
  transform: scale(1.1);
}

.brand-logos img {
  padding: 0 18px;
}

.brand-logos {
  border-top: 1px solid #dee2e6;
}

.brand-logos img:hover {
  opacity: 1;
}

@media (max-width: 480px) {
  .brand-logos img {
    padding: 0 12px;
  }
}

@media (max-width: 415px) {
  .brand-logos img {
    padding: 0 8px;
  }
}

@media (max-width: 384px) {
  .brand-logos img {
    padding: 0 2px;
  }
}

/* PROGRESSION */
.progression.progression img {
  object-fit: fill;
  border-radius: 8px;
}

.progression .progress__info {
  position: relative;
  color: #3f3a64;
  font-size: 18px;
  font-weight: 400;
}

.progression .progress {
  height: 4px;
}

/* PROGRESS BAR 1 */
.progression .progress__info.info__1 .progress__title {
  width: 80%;
  /*Độ dài thanh progress */
}

.progression .progress .progress-bar.progress-bar-striped.gradient-1 {
  color: #61fded;
  /*Màu thanh progress */
  background: linear-gradient(to right, #0d8abc, #61fded);
}

/* PROGRESS BAR 1 */

/* PROGRESS BAR 2*/
.progression .progress__info.info__2 .progress__title {
  width: 95%;
  /*Độ dài thanh progress */
}

.progression .progress .progress-bar.progress-bar-striped.gradient-2 {
  color: #eece90;
  /*Màu thanh progress */
  background: linear-gradient(to right, #d45529, #eece90);
}

/* PROGRESS BAR 2*/

/* PROGRESS BAR 3 */
.progression .progress__info.info__3 .progress__title {
  width: 60%;
  /*Độ dài thanh progress */
}

.progression .progress .progress-bar.progress-bar-striped.gradient-3 {
  color: #5c51ff;
  /*Màu thanh progress */
  background: linear-gradient(to right, #f646a9, #5c51ff);
}

/* PROGRESS BAR 3 */

/* PROGRESS BAR 4 */
.progression .progress__info.info__4 .progress__title {
  width: 85%;
  /*Độ dài thanh progress */
}

.progression .progress .progress-bar.progress-bar-striped.gradient-4 {
  color: #e5529a;
  /*Màu thanh progress */
  background: linear-gradient(to right, #e77654, #e5529a);
}

/* PROGRESS BAR 4 */
.progression .progress .progress-bar.progress-bar-striped::before,
.progression .progress .progress-bar.progress-bar-striped::after {
  position: absolute;
  content: "";
  border-radius: 50%;
  top: 90%;
  transform: translate(50%, -50%);
}

.progression .progress .progress-bar.progress-bar-striped:before {
  width: 28px;
  height: 28px;
  border: solid 1px;
  opacity: 0.3;
}

.progression .progress .progress-bar.progress-bar-striped::after {
  width: 13px;
  height: 13px;
  border: solid 3px;
  background-color: #fff;
}

.progression .progress .progress-bar.progress-bar-striped.gradient-1::before,
.progression .progress .progress-bar.progress-bar-striped.gradient-1::after {
  right: 20%;
}

.progression .progress .progress-bar.progress-bar-striped.gradient-2::before,
.progression .progress .progress-bar.progress-bar-striped.gradient-2::after {
  right: 5%;
}

.progression .progress .progress-bar.progress-bar-striped.gradient-3::before,
.progression .progress .progress-bar.progress-bar-striped.gradient-3::after {
  right: 40%;
}

.progression .progress .progress-bar.progress-bar-striped.gradient-4::before,
.progression .progress .progress-bar.progress-bar-striped.gradient-4::after {
  right: 15%;
}

/* huy */
img.wp-smiley,
img.emoji {
  display: inline !important;
  border: none !important;
  box-shadow: none !important;
  height: 1em !important;
  width: 1em !important;
  margin: 0 0.07em !important;
  vertical-align: -0.1em !important;
  background: none !important;
  padding: 0 !important;
}

.recentcomments a {
  display: inline !important;
  padding: 0 !important;
  margin: 0 !important;
}

.bg1 {
  background: url(https://wp.w3layouts.com/corpvision/wp-content/themes/corpvision/assets/images/b1.jpg);
  background-size: cover;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: top;
}

/* thêm: 
1: phần mặc định
2: các phần bên dưới
*/

.owl-carousel button.owl-dot {
  padding: 0 6px !important;
}

.post-thumbnail img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  transition: 0.3s ease-in-out;
  border-radius: 8px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  max-width: 100%;
  height: auto;
}

.w3l-blog a.blog-desc {
  transition: .5s;
}

.blog-meta li a {
  transition: .5s;
}

.w3l-footer-29-main a {
  transition: .5s;

}

.dark .w3l-testimonials {
  background-color: #100f19;
}

.dark .w3l-testimonials h3 {
  color: #eee;
}

.dark .w3l-blog {
  background: #151421;
}

.dark .w3l-blog h3 {
  color: #eee;
}

.dark .w3l-blog .card {
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.dark .w3l-blog a.blog-desc {
  color: #eee;
}

.dark .w3l-blog a.blog-desc:hover {
  color: #009f4d;
}

.dark .card-footer {
  background: #151421;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.dark .blog-meta li a {
  color: #eee;
}

.dark .blog-meta li a:hover {
  color: #009f4d;
}