
.owl-carousel button.owl-dot {
  padding: 0 6px !important;
}

.post-thumbnail img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  transition: 0.3s ease-in-out;
  border-radius: 8px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  max-width: 100%;
  height: auto;
}

.w3l-blog a.blog-desc {
  transition: 0.5s;
}

.blog-meta li a {
  transition: 0.5s;
}

.w3l-footer-29-main a {
  transition: 0.5s;
}

.dark .w3l-testimonials {
  background-color: #100f19;
}

.dark .w3l-testimonials h3 {
  color: #eee;
}

.dark .w3l-blog {
  background: #151421;
}

.dark .w3l-blog h3 {
  color: #eee;
}

.dark .w3l-blog .card {
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.dark .w3l-blog a.blog-desc {
  color: #eee;
}

.dark .w3l-blog a.blog-desc:hover {
  color: #009f4d;
}

.dark .card-footer {
  background: #151421;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.dark .blog-meta li a {
  color: #eee;
}

.dark .blog-meta li a:hover {
  color: #009f4d;
}
